public/schema/payroll/WIP/common/xml/person/PersonType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hros="http://hropenstandards.org/xml/" targetNamespace="http://hropenstandards.org/xml/" version="4.1.0" id="PersonType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../profile/PersonProfile" />
  <xsd:include schemaLocation="PersonPhysical" />
  <xsd:include schemaLocation="PersonLegal" />
  <xsd:include schemaLocation="PersonBaseType" />
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>Represents full person information</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="legalId" type="hros:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>The legal identifier of a person. The issuer is most likely a country or state.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="birthDate" type="hros:DateType">
        <xsd:annotation>
          <xsd:documentation>The birth date of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="gender" type="hros:GenderCodeList">
        <xsd:annotation>
          <xsd:documentation>The gender of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="citizenship">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The citizenships that a person holds. This is a legal citizenship in a country (as opposed to nationality which may or may not be a country).</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:CountryCodeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="residenceCountry">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The country (or countries) where a person currently resides.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:CountryCodeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="militaryStatus">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The military status of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ethnicity" type="hros:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>The ethnicity (or ethnicity of a person. Ethnicity is an ethnic group or a social group that shares a common and distinctive culture, religion, and/or language.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="id" type="hros:IdentifierType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="hros:PersonNameType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="communication" type="hros:CommunicationType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="primaryLanguage" type="hros:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="height" type="hros:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The height of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="weight">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The weight of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:all />
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="disability" type="hros:DisabilityType">
        <xsd:annotation>
          <xsd:documentation>A type of disability that a person has.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="tobaccoUserIndicator" type="hros:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>An indicator that a person is a tobacco user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="hairColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the hair of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="eyeColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the eyes of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="identifyingMarks" type="hros:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>A list of identifiying marks of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="age">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The age of a person (in years).</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="bloodType" type="hros:CodeType">
        <xsd:annotation>
          <xsd:documentation>The blood type of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="profileName">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The name given to the profile.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="hros:LanguageCodeList">
        <xsd:annotation>
          <xsd:documentation>The primary language of the content of the profile.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="education">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The education history of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:EducationAttendanceType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="employment">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The employment history of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:EmployerHistoryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="militaryService">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The military history of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:MilitaryServiceType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="licenses">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The licenses that the person holds.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:LicenseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="certifications">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The certifications that the person holds.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:CertificationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="patents">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The patents with which the person is involved.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:PatentType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="publications">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The publications with which the person is involved.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:PublicationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="qualifications">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The competencies of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:PersonCompetencyType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="affiliations">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The organizations with which the person is affiliated.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:OrganizationAffiliationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="securityCredentials">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The security credentials that the person holds.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:SecurityCredentialType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="references">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The references of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:RefereeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="attachments">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Attachments or online references related to the person's profile.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hros:AttachmentType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="passportId" type="hros:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>The passport identification number from the issuing country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="fatherName">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The surname of the father of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="motherName">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The surname of the mother of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="race">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The identified race(s) of the person.A race is defined as a group of people sharing the same culture, history, language, etc.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="birthPlace">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The birth place of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="deathDate" type="hros:DateTimeType">
        <xsd:annotation>
          <xsd:documentation>If the person is deceased, the legal date that the person died.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="nationality">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The nationality (or nationalities) of the person. Nationality is acquirable by descent, by birth or adoption in the country and/or by marriage. It is not a legal status like citizenship.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="maritalStatus">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The marital status of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="visa">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The visas that this person holds.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="religion">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The religions of the person of the person.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="studentType" type="hros:CodeType">
        <xsd:annotation>
          <xsd:documentation>The type of student (if the person is a student).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="studentIndicator" type="hros:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>An indicator that this person is a student.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="studentStatus" type="hros:CodeType">
        <xsd:annotation>
          <xsd:documentation>The status of the student (if the person is a student).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Person" type="hros:PersonType" />
</xsd:schema>